@import url("reset.css");

body{
    background-color: rgb(246, 248, 254);
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    padding: 0px;
}

h1{
    font-family: 'Akshar', sans-serif;
}

.home h1{
    font-family: 'Akshar', sans-serif;
    text-align: center;
    font-size: 60px;
    margin-top: 3%;
}
.home p{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}
.home h2{
    font-family: 'Akshar', sans-serif;
    text-align: center;
    margin-top: 10%;
    color: rgb(0, 85, 128);
}
.homepage-btn{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.homepage-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: rgb(0, 85, 128);
    border: 1px solid;
    font-weight: bold;
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.homepage-btn a span{
    width: 0;
    height: 105%;
    top: 0;
    left: 0;
    background-color: rgb(0, 85, 128);
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
.homepage-btn a:hover{
    color: white;
}
.homepage-btn a:hover span{
    width: 100%;
}

#sidenav{
    width: 250px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgb(0, 85, 128);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
    font-size: 22px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menu-btn{
    width: 50px;
    height: 50px;
    background-color: rgb(0, 85, 128);
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}
#menu-btn img{
    width: 20px;
    margin-top: 15px;
}